<div class="postList" id="postList">
    
    {{#each post}}
    <div class="post">
        <input id="post{{player_post_id}}" type="checkbox">
            <label for="post{{player_post_id}}">
                {{#if ../lfm}}LFM{{else}}LFG{{/if}}: {{game_type}}<br>
                Description: {{description}}<br>
                Date: {{post_date}}
            </label>
        <div class="postDetails">
        {{#if ../lfm}}
            Character Starting Level: {{char_lvl}}            Players Wanted: {{num_players}}<br>
            Homebrew Game: {{homebrew}}                       Novices Welcome: {{novice}}<br>
        {{else}}
            I can DM: {{DM}}<br>
            I am a Novice: {{novice}}<br>
        {{/if}}
            Schedule: {{schedule}}
        </div>
    </div>
    {{/each}}
    
</div>